<a
  [href]="href && !disabled ? href : null"
  [target]="href ? target : null"
  [attr.download]="download !== null && download !== undefined ? download : null"
  [rel]="target === '_blank' ? 'noopener noreferrer' : null"
  [attr.aria-label]="ariaLabel"
  [attr.role]="href ? null : 'button'"
  [attr.tabindex]="disabled ? -1 : 0"
  [attr.aria-disabled]="disabled"
  class="btn app-btn app-btn--{{ variant }} app-btn--{{ size }}"
  [class.w-100]="fullWidth"
  [class.disabled]="disabled"
  [class.app-btn--loading]="loading"
  (click)="onClick($event)"
  (keydown.enter)="!href && onClick($event)"
  (keydown.space)="!href && onClick($event)"
>
  @if (loading) {
    <span class="btn-spinner" aria-hidden="true"></span>
  } @else {
    @if (iconLeft) {
      <i class="btn-icon btn-icon--left {{ iconLeft }}" aria-hidden="true"></i>
    }
    <span class="btn-label">
      @if (label) {
        {{ label }}
      } @else {
        <ng-content></ng-content>
      }
    </span>
    @if (iconRight) {
      <i class="btn-icon btn-icon--right {{ iconRight }}" aria-hidden="true"></i>
    }
  }
</a>
